[2013-12-26 20:16] wjwwood opened #1 "remove dependency on catkin"
Currently `urdfdom_headers` `buildtool_depend`'s on `catkin`, but does not use it. This line should be removed from the package.xml which is templated into the release repo:

https://github.com/ros-gbp/urdfdom_headers-release/blob/master/hydro/package.xml#L17

The `url` tags should also be updated:

https://github.com/ros-gbp/urdfdom_headers-release/blob/master/hydro/package.xml#L11-13

The same s

[2013-12-31 10:05] #1 closed, assigned to nobody

[2014-08-01 21:41] hsu opened #6 "add a flag to mark a mesh convex"

[2015-02-19 22:16] jbohren opened #9 "should this be deprecated in indigo?"

[2015-04-21 12:38] vrabaud commented on #9
why ?

[2015-04-21 13:14] jbohren commented on #9
Because there's nothing there: https://github.com/ros/urdfdom_headers/tree/indigo-devel

[2015-10-02 17:52] scpeters opened #17 "Install cmake version config file"
I will wait until #7 is merged.

I plan to do something similar to the following:

* https://bitbucket.org/ignitionrobotics/ign-math/pull-requests/52/add-cmake-version/diff

[2015-10-04 17:30] traversaro opened #18 "Incorrect handling of rpy triple near the rpy singularity"
Commit https://github.com/ros/urdfdom_headers/commit/96b8a4ba5a06309232f03a018e70e929f89f93bc (in PR https://github.com/ros/urdfdom_headers/pull/11) introduced a regression in handling rpy triple with a pitch value of `M_PI/2` or `-M_PI/2`.

In particular the rpy triple `0.0 -M_PI/2 0.0` is now converted (incorrectly) to the rotation matrix:
[code]
instead of the correct:
[code]

The regression is

[2015-10-04 20:53] traversaro commented on #18
Correct me if I am wrong @j-rivero, but I guess that the bugged version (the one containing commit https://github.com/ros/urdfdom_headers/commit/96b8a4ba5a06309232f03a018e70e929f89f93bc ) was never shipped in the ubuntu repo, as the relative SRU ( https://bugs.launchpad.net/ubuntu/+source/urdfdom-headers/+bug/1471047 ) was never closed, right?

[2015-10-06 15:30] j-rivero commented on #18
Unfortunately this time, you are right.

[2015-10-19 23:47] jacquelinekay commented on #9
The library is still used in indigo, it's just not a catkin package. The `indigo_devel` branch is a passthrough package that references the system debian package that this source compiles to.

[2015-10-19 23:47] #9 closed

[2015-11-09 19:25] scpeters opened #20 "Release new version"
Is it possible to make a new 0.4.0 release of this and urdfdom?

[2015-12-09 18:37] scpeters commented on #18
This was fixed by #19 and can be closed.

[2015-12-09 18:38] #18 closed

[2015-12-09 18:39] scpeters commented on #20
The only open pull request now is #3 and it is not ready to be merged. I think we are ready for a 0.4.0 release.

[2016-01-12 20:01] scpeters commented on #20
https://github.com/ros/urdfdom_headers/releases/tag/0.4.0

[2016-01-12 20:01] #20 closed

[2016-01-12 20:02] scpeters commented on #20
@j-rivero I'm going to try to release console_bridge and urdfdom as well. Hopefully they can all make it to debian together.

[2016-01-12 20:08] j-rivero commented on #20
ACK.

[2016-07-04 21:30] jpgr87 opened #27 "Arch dependent paths"
It looks like #26 updated the code to install the cmake module configs to arch dependent paths based on checks that the cmake package version script is making.

The problem is that urdfdom-headers really *is* architecture independent, and making it architecture dependent doesn't really buy you anything.  It just makes it harder to package.

I think the better solution would have been to disable th

[2016-07-04 21:32] jpgr87 opened #28 "0.4.1 version"
It looks like 0.4.1 was released with version 0.4.0 in CMakeLists.txt.  Was this just an oversight?

[2016-07-06 00:44] scpeters commented on #27
cc @j-rivero

[2016-07-06 00:45] scpeters commented on #28
yes, that was an oversight, I've bumped the minor number on the master branch and started a draft for a 0.4.2 release

* https://github.com/ros/urdfdom_headers/releases/tag/untagged-c01ec60a0ee437aacf0d
* https://github.com/ros/urdfdom/releases/tag/untagged-ad52f8650f859f0792c3

[2016-07-06 00:53] jpgr87 commented on #28
OK I thought so.  I'll correct the version number in the Fedora package.

[2016-07-21 01:17] j-rivero opened #29 "Create the release 1.0.0"
I believe that after the merge of pull request #23 we are ready to tag and release the version 1.0.0.

If there is anything missing, please let me know.

//cc @scpeters

[2016-07-21 08:50] scpeters commented on #29
+1

[2016-07-21 18:11] scpeters commented on #29
Here's a draft release:

* https://github.com/ros/urdfdom_headers/releases/tag/untagged-3ecc9e0d7712be4f37d3

how does it look?

[2016-07-22 00:38] j-rivero commented on #29
I can not see that URL, 404 for my user :(

[2016-07-22 01:24] scpeters commented on #29
hm...

[2016-07-22 01:25] scpeters commented on #29
ok, I just released it anyway:

* https://github.com/ros/urdfdom_headers/releases/tag/1.0.0

[2016-07-22 01:26] #29 closed

[2016-08-27 16:56] jslee02 opened #30 "Consider exposing urdfdom_headers version in a header file"
It seems the API changes introduced by version 1.0 are relatively small; switching to use C++11 instead of `boost`. If so, consumer libraries (like DART) [could support for version 1.0 and other lesser versions with some preprocessors depending on the versions](https://github.com/dartsim/dart/pull/766).

One issue of doing this is that `urdfdom_headers` doesn't expose the version numbers in the he

[2016-10-24 15:29] mjm522 opened #32 "Simulators of Baxter, PR2 will not get installed with new version."
Hi, There was an issue with the newest version (1.0) of urdfom headers.

`error: ‘shared_ptr’ in namespace ‘std’ does not name a type URDF_TYPEDEF_CLASS_POINTER(JointMimic); ^ `

This sort of error (around a [page full](https://github.com/RethinkRobotics/baxter_simulator/issues/89)) throws up on compiling.

I had to do a `git reset --hard 9aed725` to make it work.

[2016-10-24 22:41] scpeters commented on #32
The master branch of `urdfdom_headers` is now using `std::shared_ptr`s from c++11. Are you building from source or using debs? I recommend using the 0.4.2 tag until downstream packages are supporting the API change.

* https://github.com/ros/urdfdom_headers/releases/tag/0.4.2

[2017-04-17 15:09] wallEVA96 commented on #32
@ @scpeters   thank u, the day before yesterday  I have solve this with version 0.4.0,  I really compile, but i CANT use the rviz

[2017-07-03 15:49] cambesol opened #37 "ROS Kinect build failure on raspbian"
Built urdfdom_headers as an external build for Raspbian version:
Linux raspberrypi 4.9.28+ #998 Mon May 15 16:50:35 BST 2017 armv6l GNU/Linux

Version of urdfdom_headers:
pi@raspberrypi:~/ros_catkin_ws/external_src/urdfdom_headers $ git log
commit 5cb0b6b6a99eeeff5cd111dabd0093a29305a2f9
Merge: 76da8dc 9d2b421
Author: Steven Peters <scpeters@osrfoundation.org>
Date:   Wed Jul 20 10:47:51 2016 -070

[2017-07-04 19:10] cambesol commented on #37
Apologies for raising this issue. I fixed it by adding the following in:
ros_catkin_ws/src/robot_state_publisher/CMakeLists.txt
[code]
There is an issue raised on robot_state_publisher [https://github.com/ros/robot_state_publisher/issues/76](url)
On a Raspberry Pi 1 model B it takes more than five hours to build all the packages I have included so it was a bit slow to fix.

[2017-08-10 19:22] sloretz commented on #37
I think the core issue here was urdfdom_headers 1.0.0 requires c++11, but being header only there are no targets to depend on to get the required compile options

How about adding a dummy target `add_library(urdfdom_headers INTERFACE)`? I think it would allow `set_property(TARGET urdfdom_headers PROPERTY CXX_STANRDARD_REQUIRED 11) `.  Then robot_state_publisher could have its targets depend on `ur

[2017-08-10 19:25] sloretz commented on #37
Possibly same issue as #32

[2017-08-10 19:26] sloretz commented on #28
Looks like this is resolved. Feel free to reopen if that's not the case.

[2017-08-10 19:26] #28 closed

[2017-08-10 19:28] sloretz commented on #6
Hi @hsu, I'm not sure what the title means. Would you mind adding a description and reopening?

[2017-08-10 19:28] #6 closed

[2017-10-26 23:44] sloretz commented on #37
I'll close this since the original issue is solved by ros/robot_state_publisher#76, and there is another ticket about build issues due to not setting the compiler flag for c++11 downstream #32. Feel free to reopen if there's more on this ticket that needs resolution.

[2017-11-20 13:28] dbasa opened #41 "Parsing floats in URDF yields wrong value depending on locale"
`urdfdom_headers` uses `std::stod` to parse floating point values like position (xyz) and rotation (rpy) from URDF files. The result of `std::stod` is locale dependant. So with e.g. a German locale (de_DE.UTF-8) "1.57079632679" is parsed to `1`.
This is the case in  `urdfdom_headers/urdf_model/include/urdf_model/pose.h` Line 70 (not necessarily exclusive)

In my opinion the issue described [here](

[2017-11-20 13:38] traversaro commented on #41
Related urdfdom issue: https://github.com/ros/urdfdom/issues/98 .

[2017-11-20 15:53] clalancette commented on #41
So I ended up looking into this a bit.  @traversaro did some good investigating of the issue in https://github.com/robotology/idyntree/issues/288#issuecomment-299447873, and digging down into the URDF schema, this is represented as an xs:double.  Looking at the XSD document [here](https://www.w3.org/TR/xmlschema-2/#double), it says that the mantissa for a double is represented as a "decimal" numbe

[2018-01-16 14:54] progtologist commented on #29
I am bumping this, well, 18 months later, because this is causing troubles with urdf.
Versioning in urdfdom_headers appears to be sketchy at least.
Version 1.0.0 was set on Mar 17 while Version 0.4.2 was set on Jul 6 with a rewritten history.
This by itself wouldn't actually cause problems, but [this](https://github.com/ros/urdf/blob/kinetic-devel/urdf/urdfdom_compatibility.h.in) autogenerated hea

[2018-01-16 18:43] scpeters commented on #29
The commit history does look a bit confusing:

* https://github.com/ros/urdfdom_headers/commits/master

I bumped the version to 1.0.0 in 9aed7256e06d62935966de2a9bc9ddfac96e7a85 (March 16, 2016), but that was on the scpeters:unboost branch in #23, which wasn't merged into master until July 20, 2016 (5cb0b6b6a99eeeff5cd111dabd0093a29305a2f9). Shortly before that on July 5, we bumped the version to

[2018-01-17 08:56] progtologist commented on #29
@scpeters this seems to be the issue, however at some time in the past, 9aed725 must have pointed to 0.4.2, because back in 2016 I was able to compile ROS for RPi using the same instructions.

Anyway, I will update the Raspberry Pi installation guide to reflect to the correct commit and add a few more workarounds that I discovered yesterday while compiling.

Thanks for your immediate response.

[2018-02-15 15:33] greimela-si commented on #41
We also ran into this issue over at [ros2/rviz](https://github.com/ros2/rviz) when migrating the RobotModel display.

[2018-02-21 20:16] #41 closed

[2018-04-17 19:47] dhood opened #43 "changelog for ROS packages"
Could someone point me to the changelog for the ROS packages associated with this repo please?

[2018-07-09 03:45] dhood opened #44 "Release for bionic doesn't include #42"

[2018-07-09 03:52] #44 closed

[2018-07-09 03:52] dhood opened #45 "Release for bionic doesn't include #42"
[This PR](https://github.com/ros/urdfdom_headers/pull/42) doesn't seem to have made it into the packaged `urdfdom_headers` in bionic. The 1.0.0 tag on this repo doesn't seem to include this PR, and the source code zip for 1.0.0-1 listed at https://packages.ubuntu.com/bionic/amd64/liburdfdom-headers-dev doesn't include the `strToDouble` function.

I know that this is released as an upstream ubuntu

[2018-07-09 04:12] dhood commented on #45
@j-rivero @clalancette Was a new release of `urdfdom_headers` considered for bionic? Would it be too late now?

[2018-07-09 11:13] j-rivero commented on #45
I'm afraid it was not, same version than in artful, upstream 1.0.0. Bionic is already released so it is too late to follow the normal course and the only option is to consider is to check if the problem falls into the [Stable Release Update policy](https://wiki.ubuntu.com/StableReleaseUpdates#When).

[2018-07-09 21:31] dhood commented on #45
In your experience would it be covered by that policy? Essentially for machines with different locales, urdf parsing does not work, so it is high impact in the user-facing sense, but it's not a security-related bug or anything.

If it's not possible, we need to consider alternatives. Not sure if custom packaging would be feasible, or if we have to fallback to increased visibility of the issue and

[2018-07-10 12:19] clalancette commented on #45
I don't know Ubuntu's update policy in particular, but in general this should be a safe change to put into a stable update.  It doesn't change any external API/ABI, and has some soak time now, so it should have a low chance of regressions.  I'd suggest we attempt to get an update into Ubuntu before falling back to workarounds, though I don't know the process there.  Maybe @j-rivero can give us a h

[2018-08-07 11:41] gavanderhoorn commented on #45
I know we're supposed to use Github's `+1` feature for this, but going to use a comment to give it extra visiblity: it would be very much appreciated if a patch release could be done that includes #42. I'm in one of those countries where we use commas instead of dots, and although I'm not affected myself (using `UTF-8`), the nr of times we run into this now makes me come here and ask if something

[2018-09-06 14:58] simonschmeisser commented on #45
@clalancette could you do a new release 1.0.1 including the fix?

@j-rivero is updating to a patch release allowed as SRU? My interpretations is yes and it would be cleaner

I would then file a SRU bug report asking to update to 1.0.1

[2018-09-07 12:02] clalancette commented on #45
@simonschmeisser I'm not the maintainer of this package, so I can't directly do the release.  @scpeters would you mind doing a new release here just to make sure we have an official tag with the locale fixes?

[2018-09-09 10:16] ldayot commented on #45
RViz doesn't display surfaces when LC_NUMERIC has no value.
Solved executing export LC_NUMERIC="en_US.UTF-8"

Source:
[RViz does not show robot appearance (RViz tutorials: building from scratch) on answers.ros.org](https://answers.ros.org/question/302787/rviz-does-not-show-robot-appearance-rviz-tutorials-building-from-scratch/)

[2018-09-18 14:48] simonschmeisser commented on #45
@scpeters ping?

[2018-09-30 12:38] scpeters commented on #45
sorry I didn't realize that was a secret link

<img width="894" alt="screen shot 2018-09-30 at 10 27 55 am" src="https://user-images.githubusercontent.com/3650755/46255293-8e3ae700-c49b-11e8-9c29-d7f1bc5b93cb.png">

[2018-09-30 16:51] scpeters commented on #45
I just made it as a patch release instead of minor:

* https://github.com/ros/urdfdom_headers/releases/tag/1.0.1

I'll ask @j-rivero to cherry-pick e7e0972a4617b8a5df7a274ea3ba3b92e3895a35 into debian and Ubuntu

[2018-10-23 08:49] simonschmeisser commented on #45
@j-rivero any progress?

[2018-10-23 10:34] j-rivero commented on #45
Yes. I've updated the debian-sid repository with the latest version: https://packages.debian.org/source/sid/urdfdom-headers. With this step the gate to submit the SRU is open.

[2018-10-23 10:37] simonschmeisser commented on #45
@j-rivero Thanks a lot, that is good news! Just to be certain, will you submit the SRU or should I (who has never done that) do that?

[2018-10-23 10:47] j-rivero commented on #45
I can do it but for it we would need an small example (test code) that demonstrate the problem with the current version and how it is fixed with the patch.

[2018-10-24 09:23] simonschmeisser opened #46 "Parsing of colors should not be locale dependent"
https://github.com/ros/urdfdom_headers/blob/e7e0972a4617b8a5df7a274ea3ba3b92e3895a35/urdf_model/include/urdf_model/color.h#L76

uses `std::stof` which is locale dependent and will truncate floats to ints if the decimal seperator does not match

this is the same issue as addressed in #45 but not included there as neither I nor anybody else looked closely enough ...

[2018-10-24 09:28] gavanderhoorn commented on #46
Would it be an idea to do an audit of the relevant packages for use of `std::stof` and similar methods and replace them where appropriate?

I believe you've (@simonschmeisser) have proposed a similar change (moving away from locale-affected methods) for MoveIt. Seeing as this could be a cross-package issue: perhaps refactor this all out into a separate package and use that everywhere?

[2018-10-24 09:38] simonschmeisser commented on #46
The change in MoveIt! is because boost::lexical_cast is inconsistent in itself (ie `boost::lexical_cast<double>(boost::lexical_cast<std::string>(0.1))` will throw an exception)

but yes, it's going to be a recurrent theme as more packages discover the nice (and totally inconsistent) features in C++ 11 and want to move away from boost::lexical_cast<double> (which is not locale dependent ...)

also

[2018-10-24 13:39] j-rivero commented on #45
No problem. We can make a new patch release as soon as the PR is merged and import it to debian.

[2018-11-07 12:00] gavanderhoorn commented on #45
Just realised: #42 is the answer to everything.

[2018-11-14 01:43] #46 closed

[2019-02-26 13:26] simonschmeisser commented on #45
I filed an Ubuntu bug report asking for an update, you can vote there by clicking "this bug affects me":

https://bugs.launchpad.net/ubuntu/+source/urdfdom-headers/+bug/1817595

[2019-02-28 20:42] traversaro commented on #45
I saw on ROS Discourse that @kyrofa from Canonical is hiring roboticists, perhaps he has some suggestion on how to proceed on the bug/SRU.

[2019-03-01 12:27] peci1 commented on #45
If the time it takes to release the fixed package to bionic is expected to be longer, it might be handy to add a temporary env_hook to the dependent ROS packages. Or a build-time warning issued by urdfdom-headers (which would although not help people who just install everything via apt and run rviz).

In my packages, I'm adding the env hook that sets `LC_NUMERIC=C`.

[2019-08-22 16:36] davetcoleman opened #59 "Forking URDFDom?"
There are many desired changes to the URDF spec that are needed for projects like MoveIt and Tesseract that have not been merged into this repo. This has been an issue for many years - the spec is basically unchanged while the [SDF format](http://sdformat.org/) goes through many many iterations. This is hurting the ROS project. A good discussion to get a sense of this issue is [here](https://githu

[2019-08-22 17:29] jmirabel commented on #59
There are two different issues to be discussed:
1. the fact that the source code is frozen,
2. the fact that the binaries are released at a low frequency.

I cannot help for point 2. I can give my two cents on point 1 and summarize what has been said in #24 .

I fully align with @scpeters points: An old parser should fail **verbosely** on a file with a too recent format version, **without requirin

[2019-08-22 23:09] scpeters commented on #59
Let me first apologize for not responding to these pull requests that add features to urdfdom. Let me try to communicate my thoughts on some of these challenges:

I've spoken before about the issues with old parsers not recognizing new fields (https://github.com/ros/urdfdom_headers/pull/24#issuecomment-212528487). There is a `version` attribute in the [urdf.xsd schema at urdfdom](https://github.co

[2019-08-23 07:50] rhaschke commented on #59
I think we fully understand the constraints of maintaining such a key package. However, we should enter discussions how to address and overcome these concerns to allow some progress and avoid alternative forks. Hopefully, we can start this process at ROSCon.

[2019-08-23 09:12] traversaro commented on #59
I personally fully agree with @davetcoleman suggestion that the URDF format should be allowed to evolve, and in particular with @jmirabel proposal.

On the top of that, I think some points that should be addressed in the discussion are the following:
* I always intended `urdfdom_headers` and `urdfdom` (together with `urdf_parser_py`) as [*reference implementations*](https://en.wikipedia.org/wiki/R

[2019-08-23 17:51] davetcoleman commented on #59
Thanks for all these very quick thoughts and feedback! Lots of good actionables here, that I agree should be discussed at ROSCon

This seems easily fixable by providing a Melodic & future Noetic release in the ROS 1 build farm, right? Just a matter of someone making the release...

[2019-09-11 22:06] tfoote commented on #59
Making the releases is relatively easy, knowing what exactly to release is the hard part. Even just jumping it into a ROS package will run into issues of colliding symbols and breaking existing implementations that rely on the system packages.

There's definitely space to accelerate the rate of development. But we do need to develop the migration plan with versioning etc that can be implemented in

[2019-11-08 15:43] peci1 commented on #45
Today, the updated urdfdom_headers package has been released to bionic. It includes the fix for #42.

[2019-11-08 15:49] peci1 commented on #45
@j-rivero Do you think it'd be possible to at least increase patch version number for the released Ubuntu package? This way it's pretty difficult to tell if the user has the fixed version or not (e.g. from CMake).

[2019-11-08 16:54] gavanderhoorn commented on #45
How did you determine this @peci1 ?

[2019-11-08 16:58] kyrofa commented on #45
@gavanderhoorn probably from [the SRU bug](https://bugs.launchpad.net/ubuntu/+source/urdfdom-headers/+bug/1817595). The fix was released into -updates on the 7th.

[2019-11-08 17:07] gavanderhoorn commented on #45
Ok, thanks.

Obviously :100: :+1: :tada: :birthday: :beers: :hamburger: :smile: etc for getting this released, but :frowning_face: :cry: :cloud_with_lightning_and_rain: that it took over 1.5 years to get this released.

As @simonschmeisser already asked on the SRU: does anyone know what the major blockers/bottlenecks were here? If it's always this difficult to get an obvious bug fixed in a release

[2019-11-08 18:20] kyrofa commented on #45
To be fair, that bug was logged on 2019-02-25. Not trying to say that's a great timeline either, but it's better than 1.5 years, heh.

I have a few thoughts to share, if I may.

### SRUs are a foreign concept

Ubuntu takes stability incredibly seriously. Once a release has been cut you can only get security and critical bugfixes back into it by way of a Stable Release Update (SRU), the process and

[2019-11-08 19:30] simonschmeisser commented on #45
I'm really glad this journey is over, what an endurance test ...

Those guidelines mention cases in which an update to a upstream patch release (1.0.3) is possible. As I had and still have the opinion that those are fulfilled, I argued for going this way as it would solve the problem @peci1 now has about differences between upstream and Ubuntu version with an identical version tag (1.0.0). Obvious

[2019-11-08 19:35] kyrofa commented on #45
Indeed, step four of the procedure is "Prepare the upload, attach a debdiff to the bug, and request sponsorship by subscribing 'ubuntu-sponsors' to the bug." That will notify folks that an SRU needs to be reviewed and sponsored. Those are the guidelines to which I'm referring.

Indeed, that would allow you to skip the SRU process altogether.

[2019-11-08 19:38] peci1 commented on #45
This discussion definitely goes OT here, maybe a discourse thread should be started for the upstreaming topic?

Just my piece: does anybody know (i.e. has OSRF discussed/decided) what's the actual benefit of upstreaming packages. In my point of view, it only creates mess and unnecessary burden. I got pretty much disoriented e.g. here: https://discourse.ros.org/t/gazebo-version-in-packages-ros-org-

[2019-11-08 21:18] gavanderhoorn commented on #45
It was reported on the Ubuntu tracker then, yes. I was referring to when this issue (#45) was opened (and even that is conservative, as it was already fixed before this one, but unreleased for Bionic).

[2019-11-08 21:22] gavanderhoorn commented on #45
I would be interested to know what the rationale was for upstreaming these packages in the first place.

It may have been discussed, but I don't recall where or what the outcome was. If @clalancette or anyone from O(S)R(F) could point us to the discussion that would be great.

[2019-11-09 08:00] j-rivero commented on #45
To close this and follow up with the offtopic discussion, I would to do/propose to things:
 1. Thanks everyone in this bug for the work done to solve issues and the information you provided. I know it was extremely slow but Kyle already pointed some of the problems and before that we had other coordination problems among those of us working on the patch. It's done, let's learn from it.
 2. I'll op

[2019-11-09 10:15] gavanderhoorn commented on #45
I'll respond there as well, but for me (and I believe others as well) the topic was a bit broader: not just this particular case, but a general rationale for why certain packages get upstreamed to Debian/Canonical.

[2019-11-11 13:28] clalancette commented on #45
I'm honestly not sure; that decision was taken before I was involved.

I will say that in general, I am a fan of upstreaming packages into the Linux distributions where it make sense.  It adds an additional layer of...accountability to releasing changes to many downstream users that I find highly desirable as a user.

That being said, this clearly dragged on too long.  Thanks to @kyrofa for pointi

[2019-11-19 15:49] jmirabel commented on #59
Was this discussed at ROSCon ? I couldn't attend.

[2019-11-25 13:14] clalancette commented on #59
Yes, we had a meeting about it at ROSCon.  We're going to send out some additional details this week, but the short of it is that we are going to attempt *not* to fork URDF, and see if we can make a bit more progress with it.  There is also some talk of switching to a different file format, but we still have to finish discussing that and have a follow-up meeting.

[2020-02-15 15:53] gavanderhoorn commented on #59
@clalancette: what's the current status on adding the version nr to the format?

[2020-02-18 14:32] clalancette commented on #59
It's been done in https://github.com/ros/urdf_parser_py/pull/52 and https://github.com/ros/urdfdom/pull/133.  I've also released a new version of urdfdom_py into Melodic.

I think what is left to do is:
1.  Merge https://github.com/ros/urdf_parser_py/pull/54 for ROS 2
1.  Release that change for ROS 2
1.  Release urdfdom as an Ubuntu package update

[2020-02-18 14:39] gavanderhoorn commented on #59
Nice :+1:

Seems I need to *Watch* even more repositories to not miss this sort of thing ;)

Should there be a `4. Announce on ROS Discourse`?

[2020-02-18 14:39] traversaro commented on #59
@clalancette There is any plan of propagating this change in the fork of urdfdom used in ROS2, i.e. https://github.com/ros2/urdfdom ? The fact that ROS2 install its own urdfdom that shadows the one used by ROS1/Gazebo is already quite error prone (see https://github.com/robotology/gym-ignition/issues/118#issuecomment-575372388), and if the two versions are not in sync that will get even worse.

[2020-02-18 14:43] clalancette commented on #59
Ug, I didn't even realize that.  OK, I'll update the list above, we definitely need to get the change into that repository as well.

[2020-04-06 08:59] traversaro commented on #37
@sloretz I guess you wrote the comment to close the issue, but then forgot to close the issue itself?

[2020-04-06 16:55] #37 closed

[2020-05-01 09:53] traversaro opened #62 "Move URDF specification to a Github repo?"
I think this has been already discussed in the past, but I could not find an issue tracking explicitly this.

As the URDF spec is moving towards support an explicit versioning of the spec (at least this is what I understood from https://github.com/ros/urdfdom/pull/133 and  https://github.com/ros/urdfdom_headers/issues/59), I think it would be great to have some way to separate the specification of

[2020-05-01 09:55] traversaro commented on #62
FYI @scpeters @EricCousineau-TRI  @clalancette @davetcoleman @jmirabel @rhaschke @tfoote @Levi-Armstrong

[2020-05-01 18:34] EricCousineau-TRI commented on #59
Regarding this point:

I had the same issue with SDFormat. As part of TRI-sponsored work, we (@azeey, @scpeters, and I) considered REP / PEP-style proposals, but are just keeping it simple for now:
http://sdformat.org/tutorials?tut=proposal_format
(I thought we included rationale of "why not REP / PEP-style indexing / format", but I guess that's lost in some Asana / BitBucket PR discussions.)

To

[2020-05-01 18:35] EricCousineau-TRI commented on #62
Would love to see this no longer be hosted on the Wiki!

FTR, I felt extremely dirty making this modification:
https://github.com/ros/urdfdom/issues/138#issuecomment-622148484

[2020-05-01 18:38] EricCousineau-TRI opened #63 "README: Should have cross-references between urdfdom_headers and urdfdom?"
Both the READMEs in this repo and urdfdom do not reference each other at the top-level, which is confusing. I don't know when I should make an issue for `urdfdom_headers` or `urdfdom`, esp. related to the specification vs. implementation or whatever.

It would be nice if there were explicit guidance on that:
https://github.com/ros/urdfdom_headers/tree/2acf769db0f70205efd612830e2b2f2807862d80
https

[2020-05-01 18:40] EricCousineau-TRI commented on #63
Ah, geez... Yet another repo?
https://github.com/ros/urdf/issues

[2020-05-01 18:44] clalancette commented on #63
There's also https://github.com/ros/urdf_parser_py.git (for python) and https://github.com/ros/collada_urdf.git (which I believe is related, but I'd have to dig back into the tangled weave again to make sure).

I don't disagree that this is a mess, but it is unfortunately a difficult mess to fix.  Some of the packages are in Ubuntu packages, and some are released on the ROS buildfarm, which makes

[2020-05-01 18:46] EricCousineau-TRI commented on #59
One proposal is that, at least for the time being, we somehow make URDF and SDFormat use the same proposal processes, possibly even the same technology (e.g. same XML parser, similar conventions for `*.xsd`, same parsing semantics, etc.).

I know that this is an Ignition vs. ROS thing, but it would be lovely to see less forking between those technologies when possible?

[2020-05-01 18:48] EricCousineau-TRI commented on #63
Ooh, yeah. I remember taking some time a couple years ago to at least indicate which forks are old. Seems like house-cleaning may be in order again :P

And I'm not calling for the repos to merged / futzed around with.
Rather, just for their explicit purposes to be called out (via `README.md` and an `issue_template.md`) so people can know when to look at one vs. the other (or realize that one of th

[2020-05-01 18:49] gavanderhoorn commented on #59
Related discussion on ROS Discourse: [Why are ROS and Ignition/Gazebo diverging (or not converging)?](https://discourse.ros.org/t/why-are-ros-and-ignition-gazebo-diverging-or-not-converging/9513).

You're not the only community member wondering about the apparent divergence.

[2020-05-01 18:51] EricCousineau-TRI commented on #59
Hehe, yeah. I had done a briefly survey on some modeling formats, and came across this (of many) discussions:
https://discourse.ros.org/t/urdf-ng-ros2-urdf2-discussion/511/21

I'd be happy to take this (kinda crappily written) survey doc and post it on a Gist if it's at all useful. (I'm sure this is the nth survey out of n^2.)

[2020-05-01 19:19] clalancette commented on #59
We also discussed it at the last ROSCon.

While there does seem to be some support for switching to another official format, its not entirely clear which format would be chosen.  There are some industrial formats that have some benefits, there is COLLADA, there is SDF.  There was some lukewarm support for switching to SDF at ROSCon.

I don't have strong opinions on the topic.  However, I think the

[2020-05-02 19:28] Levi-Armstrong commented on #59
I have recently been using Ignition along with SDF format and I think with some additions it would be a great improvement over the URDF format. I think if we stuck with URDF we would just be replicating a lot of what is already in SDF format. Also, with using the same format it would provide a seamless transition between ROS and Ignition Simulation. I vote for moving to the SDF format.

[2020-05-08 21:51] IanTheEngineer commented on #59
@Levi-Armstrong along the lines of your comment, I Proposed making SDFormat files first-class citizens in `urdf::Model`: https://github.com/ros/urdf/issues/34 .

Out of curiosity, what additions were you thinking of form SDFormat to make it an improvement over URDF?

[2020-05-09 06:47] jmirabel commented on #59
If it does not exists and if it possible, a converter from URDF to SDF ?

[2020-05-09 09:04] gavanderhoorn commented on #59
@jmirabel: Gazebo already comes with one.

[2020-05-09 10:40] jmirabel commented on #59
Thanks for your reply. I think it shouldn't be bound to gazebo.

[2020-05-09 10:47] traversaro commented on #59
Related issue: https://github.com/osrf/sdformat/issues/85 . TL;DR: There is now a conversion tool directly in sdformat, but unfortunately it depends on Ruby: https://github.com/osrf/sdformat/blob/sdf9/src/cmd/cmdsdformat.rb.in .

[2020-05-09 13:35] jmirabel commented on #59
Does sdformat also handles SRDF ?

[2020-05-09 15:36] IanTheEngineer commented on #59
[SRDF](https://wiki.ros.org/srdf) is MoveIt's "semantic" kinematic chain / collision space addition to URDF, and wholly separate from SDFormat. URDF parsers will also not recognize SRDF tags.

The term "URDF" is overloaded to mean both a file format (`*.urdf` XML) and a robot data representation (`urdf::Model`). The ROS Ecosystem has mostly standardized around the `urdf::Model` data representation

[2020-05-09 17:26] EricCousineau-TRI commented on #59
@jmirabel In addition to Ian's answer, SDFormat 1.7 (libsdformat 9.0.0) also better supports custom tags (which would be ideal for application- or library-specific uses):
http://sdformat.org/tutorials?tut=custom_elements_attributes_proposal
(Er, not sure where this is in the release notes; will try to find.)

For example, some form of SRDF's information could be parsed from an `sdformat` file in a

[2020-05-10 15:08] Levi-Armstrong commented on #59
- I think it would be nice to add support for Quaternion in poses.
- ConvexMesh geometry type. I was surprised to find that this is not supported but they may doing something at the physics engine, because most physics engines only support convex_mesh to detailed mesh, but not detailed_mesh to detailed_mesh if one of them is moving. I know this is the case for Bullet and Physx. Bullet does have Gi

[2020-06-02 04:11] dirk-thomas opened #65 "make .pc file relocatable"
By avoiding to embed the absolute path of the install prefix in e.g. the `.pc` file. Similar to ros2/urdfdom#20.

Related to ros2/ros2#606.

[2020-06-02 05:28] davetcoleman commented on #62
Makes sense to me.

Mostly unrelated: I [wrote a Wikipedia article for URDF](https://en.wikipedia.org/wiki/Draft:Unified_Robot_Description_Format) recently but it was rejected for not being notable enough. I haven't tried to find better, more notable sources yet.

[2020-06-02 07:56] traversaro commented on #62
Extremely unrelated: Not sure if it will be helpful with Wikipedia, but whenever I want to introduce URDF to a non-robotics audience arguing that has been adopted (even without a formal specification), I typically mention:
* Its use in Boston Dynamics' Spot SDK (https://github.com/boston-dynamics/spot-sdk/blob/eb4c54c357b4f1e60e6cfeacb7a58b47f6dcef4e/docs/concepts/robot_services.md#robot-state), a

[2020-06-02 14:36] davetcoleman commented on #62
I did site my JOSS paper in the original Wikipedia article. However their feedback:

[2020-06-03 06:06] traversaro commented on #62
Sorry, I meant a paper **about** URDF format itself, so that other papers can mention it and anyone can get a list of academic papers that cite it (and so probably use/refer to URDF), not just of a single paper that uses URDF.

[2020-06-19 15:53] traversaro commented on #59
Related discussion on "forking" URDF: https://github.com/ros-industrial-consortium/tesseract/issues/184#issuecomment-646315434 .

[2020-06-22 06:09] huangzonghao commented on #63
Yeah, can't agree more here. Took me sometime to figure out the relation between urdfdom and urdf

[2020-06-22 12:25] clalancette commented on #63
For what it is worth, @IanTheEngineer recently updated the documentation to more clearly show the relationship.  It's available here: http://wiki.ros.org/urdf

[2021-04-06 10:43] DanielFreer-antobot opened #70 "Installing from source - Noetic on Bionic"
Hi, I am trying to properly install this package (along with URDF, URDFdom, and related packages) on a Jetson Xavier NX. Ideally, we want to install it in a ROS Noetic docker, but because the Xavier NX is based on Ubuntu 18.04 aarch64 architecture, many debian packages are not available for easy installation. Thus, I am trying to do most of it from source.

When I run catkin_make, or when I follow

[2021-04-06 12:32] traversaro commented on #70
Not directly related to your specific problem (on which I do not know how to help, sorry!), but just FYI at https://github.com/RoboStack/ros-noetic we are maintain conda-based binaries of ROS Noetic that should work fine or any Linux distribution with glibc > 2.12 (at the Ubuntu LTS level, this means on any distro >= 12.04), and we build for both amd64 and aarch64 architectures. The effort is comp

[2021-04-06 12:33] traversaro commented on #70
Actually, now that I think of, I think you can install this package as a normal CMake project, so calling `mkdir build, cd build, cmake -DCMAKE_INSTALL_PREFIX=<install> .., make install` should be sufficient, no need to use `catkin_make`.

[2021-04-06 13:08] traversaro commented on #70
This seems just that CMake is not able to find the CMake config file for the `urdfdom_headers` CMake package, but this is not directly related to catkin. I guess you just need to install also urdfdom_headers (before you install urdfdom) and install it in the same `CMAKE_INSTALL_PREFIX` in which you will install also urdfdom . `urdfdom_headers` in theory is available directly via apt also on Ubuntu

[2021-04-06 13:16] traversaro commented on #70
Sorry, I did not ready with sufficient attention your previous comment. It seems that you just need to set CMAKE_PREFIX_PATH for urdfdom to the directory where you installed urdfdom_headers .

[2021-04-06 14:41] clalancette commented on #70
Since I think this is not an issue, I'm going to close this out.  Feel free to reopen if you think there is something to fix here.

[2021-04-06 14:41] #70 closed

[2022-04-05 14:41] tdejager opened #73 "Patch 1.0.6 breaks include paths for urdf"
This patch includes MR: https://github.com/ros/urdfdom_headers/pull/71

This moves the default include paths to be under the name `urdfdom_headers`. I believe this is a breaking change, because this moves all the headers to a new location, so should not have been a patch release.

This breaks our build using conda, which depend on the major version. Urdf: https://github.com/ros/urdf has also not b

[2022-04-05 14:45] traversaro commented on #73
Hi @tdejager ! I was the one that merged the 1.0.6 release in https://github.com/conda-forge/urdfdom_headers-feedstock/pull/10 that change the header location. I tought of setting the dedicated option `APPEND_PROJECT_NAME_TO_INCLUDEDIR` to `OFF` to keep the original header location, but then I decided not to do that for consistency. However, we can always turn it again to `OFF` at least at https:/

[2022-04-05 15:45] tdejager commented on #73
Hi @traversaro :) So we are just using urdf from robostack directly in one of our projects. That includes urfddom_headers. This resolves to the latest version of urdfdom_headers, with that mentioned change. But urdf has not been updated so still includes it from ‘urdf_model’ directly.

So to illustrate:

Our project <— urdf <— urdfdom_headers

And it fails in the urdf libarary on the urdfdom_heade

[2022-04-05 16:05] traversaro commented on #73
I think I got it (I am a bit out of time for documenting why, but I will do it later today). Yes, that is a clear regression from the packaging perspective, let me fix this on the urdfdom related feedstocks.

[2022-04-05 16:22] traversaro commented on #73
In a nutshell, I think that something like https://github.com/ros/sdformat_urdf/blob/1dc1532fc6243d88a802d8e2cc3f01c0e6ba774e/sdformat_urdf/CMakeLists.txt#L37 is the source of the problem.

[2022-04-05 16:45] tdejager commented on #73
You are amazing, thank you!

[2022-04-06 07:06] traversaro commented on #73
Yes, the idea is to use imported targets as much as possible, see https://cmake.org/cmake/help/v3.23/manual/cmake-packages.7.html#creating-relocatable-packages, see for example the quick fix from @sloretz in https://github.com/ros/sdformat_urdf/pull/5 . Unfortunatly if you use catkin I do not think it is straightforward to use CMake imported targets, while it is easier if you use `ament_cmake`.

[2022-04-06 14:20] tdejager commented on #73
Cool! That makes sense, I’ll close this issue then as it will be resolved. Will rest our side tomorrow. Thanks for your help!

[2022-04-06 14:20] #73 closed

[2022-04-07 16:31] traversaro commented on #73
@tdejager just a curiosity, did you tested if the issue is actually fixed?

[2022-04-07 19:48] tdejager commented on #73
Yes, I did and it is fixed :)

On Thu, 7 Apr 2022 at 18:31, Silvio Traversaro ***@***.***>
wrote:

[2022-04-07 21:10] traversaro commented on #73
Great!